<section class="downloads">
  <nav>
    <a href="https://gitlab.com/edge226" class="top-btn" target="_blank">View me on gitlab</a>
    <a href="https://gitlab.com/edge226/edge226.gitlab.io" class="top-btn" target="_blank">View website on gitlab</a>
  </nav>
</section>
